* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

nav {
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

nav img {
    position: relative;
    z-index: 10;
    width: 190px;
}

nav button {
    position: relative;
    z-index: 10;
    
}
.ki{
    display: flex;
    gap: 20px;
}

.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(assets/image/bg.jpg.jpg);
    height: 644px;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
}

.main .box {
    background-color: rgb(0, 0, 0);
    opacity: 0.69;
    height: 644px;
    width: 100%;
    position: absolute;
    top: 0;
}

.hero {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 23px;
    padding: 0 30px;
    height: calc(100% - 100px);
}

.hero> :nth-child(1) {
    font-size: 48px;
    font-weight: 900;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
}
.line{
    height: 7px;
    background-color: rgb(44, 40, 40);
}
.btn{
    color: white;
    background-color: red;
    border: none;
    border-radius: 7px;
    padding: 10px 30px;
    font-weight: bold;
}
.btn-en{
    background-color: rgba(248, 243, 243, 0.021);
    border: 1px white solid ;
}
.hero-button input{
    background-color: rgba(0, 0, 0, 0.363);
    border: 1px solid rgba(246, 238, 238, 0.5) ;
    border-radius: 4px;
    padding: 7px 196px 8px 14px;
    color: white;

}
.btn-down{
    border-radius: 4px;
    padding: 13px 30px;
    font-size: 24px;
    font-weight: 500;
}
.hero-button{
    display: flex;
    gap: 13px;
}

.first{
    display: flex;
    width: 75vw;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 57px;

}

.text{
    color: white;
}

.text :nth-child(1){
    font-size: 48px;
    font-weight: 900;
}
.text :nth-child(2){
    font-size: 24px;
    font-weight: 400;
}
.secimg{
    position: relative;
}
.secimg img{
    width: 35vw;
    position: relative;
    top: 0;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 64px;
    right: 40px;
    width: 437px;
}
.third video{
    position: absolute;
    top: 41px;
    right: 99px;
    width: 341px;
}
.faq{
    color: white;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    margin: auto;
    padding: 30px;
}

.faqbox{
    background-color:  #2d2d2d;
    width: 70vw;
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 12px auto;
    font-size: 24px;
    font-weight: 400;
    padding: 22px;
    cursor: pointer;
    transition: all 1s ease-out;
}
.faqbox:hover {
    
    background-color: #414141;
    color: white;
}
.zero{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 23px;
    padding: 40px;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
}